<div id='content'>
   <h3><%= match[:name] %></h3>
   <div class='infowindow_line'>
        <div class='infowindow_label'>User:</div>
        <div class='infowindow_value'><%= match[:username] %></div>
   </div>
   <div class='infowindow_line'>
        <div class='infowindow_label'>Origin:</div>
        <div class='infowindow_value'><%= match[:origin] %></div>
   </div>
   <div class='infowindow_line'>
        <div class='infowindow_label'>Destination:</div>
        <div class='infowindow_value'><%= match[:destination] %></div>
   </div>
   <div class='infowindow_line'>
        <div class='infowindow_label'>Trip Type:</div>
        <div class='infowindow_value'><%= match[:trip_type] %></div>
   </div>
    <div class='infowindow_line'>
        <div class='infowindow_label'>Transportation:</div>
        <div class='infowindow_value'><%= match[:transportation] %></div>
   </div>
   <div class='infowindow_line'>
        <div class='infowindow_label'>Time:</div>
        <div class='infowindow_value'><%= match[:start_date].strftime("%m/%d/%Y") %> <%= match[:start_time].strftime("%I:%M%p") %></div>
   </div>
   <div class='infowindow_line'>
        <div class='infowindow_label'>Comments:</div>
   </div>
   <div class='infowindow_line'>
         <div class='infowindow_comments'><%= match[:comments] %></div>
   </div>
   <div>
</div>
