<%- model_class = Trip -%>
<div class="page-header">
  <h1>Your <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_trip_path,
              :class => 'btn btn-primary' %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:origin) %></th>
      <th><%= model_class.human_attribute_name(:destination) %></th>
      <th><%= model_class.human_attribute_name(:total_seats) %></th>
      <th><%= model_class.human_attribute_name(:seats_remaining) %></th>
      <th><%= model_class.human_attribute_name(:compensation) %></th>
      <th><%= model_class.human_attribute_name(:start_datetime) %></th>
      <th><%= model_class.human_attribute_name(:transportation) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr class='data-link' data-link="<%= trip_path(trip) %>">
        <td><%= trip.name %></td>
        <td><%= trip.origin.address %></td>
        <td><%= trip.destination.address %></td>
        <td><%= trip.total_seats%></td>
        <td><%= trip.seats_remaining%></td>
        <td><%= trip.compensation%></td>
        <td><%= trip.start_datetime.strftime("%m/%d/%y %I:%M %P %Z") %></td>
        <td><%= trip.transportation %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_trip_path(trip), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      trip_path(trip),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


