<script type="text/javascript">
    $(document).ready(function(){ loadTripsJS() });  
</script>

<div id='leftframe' class='homeleftframe'>
    <%= render :partial => "layouts/leftnav" %>
</div>
<div id='rightframe' class='homerightframe'>
        <div class="tripsheader">
          <div class="tripsheadertext">Your Trips</div>
          <div class="addtrip"><%= link_to 'New Trip', new_trip_path %></div>
        </div> 
        
          <div class='usertripsheader'>
            <div class='usertripsheadercell' style="width:75px">Name</div>
            <div class='usertripsheadercell' style="width:75px">Date</div>
            <div class='usertripsheadercell' style="width:225px">Origin</div>
            <div class='usertripsheadercell' style="width:225px;">Destination</div>
          </div>
          <div class="usertripslist">
          <% @trips.each do |trip| %>
            <div class="usertripitemlist">
                  <div class='usertripitem' style="width:75px"><%= trip.name %></div> 
                  <div class='usertripitem' style="width:75px"><%= trip.time.strftime("%m/%d/%y") %></div>
                  <div class="usertripitem" style="width:225px"><%= trip.origin %></div>
                  <div class="usertripitem" style="width:225px"><%= trip.destination %> </div>
            </div>
          <% end %>     
          </div>  
        <div style="clear:left">
        


</div>
