<%- model_class = Trip -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:origin) %>:</strong></dt>
  <dd><%= @trip.origin.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination) %>:</strong></dt>
  <dd><%= @trip.destination.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trip_type) %>:</strong></dt>
  <dd><%= @trip.trip_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @trip.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_datetime) %>:</strong></dt>
  <dd><%= @trip.start_datetime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:transportation) %>:</strong></dt>
  <dd><%= @trip.transportation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @trip.user.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trips_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trip_path(@trip), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trip_path(@trip),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<% @all_comments.each do |comm| %>

    <div><%= image_tag  comm.user.profile.avatar.url, :class => 'avatar'%><%= comm.user.profile.name %></div>
    <div><%= comm.comment.html_safe %></div>

<% end %>

<%= form_for [@trip, @comment], :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :comment, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :comment, :class => 'text_field comment_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>
