<%= form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :transportation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :transportation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
     <%= f.label :avatar, :class => 'control-label' %>

     <div class="controls">
       <%= image_tag  @profile.avatar.url, :class => 'img-circle avatar'%>
        <%= f.file_field :avatar %>
     </div>
   </div>

    <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
