<%- model_class = Profile -%>

<dl class="dl-horizontal">
  <dt> <%= @profile.profile_image %></strong></dt>
  <dd>
   <h3><%= @profile.name %></h3>
   <small>
     <%= @profile.description %>
   </small>
   <br><br>
   <dd><%= fa_icon 'twitter' %> <%= link_to @profile.twitter, @profile.twitter_link %></dd>
   <dd><%= fa_icon 'facebook' %>&nbsp;&nbsp;&nbsp;<%= link_to @profile.facebook, @profile.facebook_link %></dd>
   <dd><%= fa_icon 'instagram' %>&nbsp;&nbsp;<%= link_to @profile.instagram, @profile.instagram_link %></dd>
  </dd>

  <dt>


  </dt>
</dl>

<br>
<%= link_to "Send A Private Message", new_message_path(:receiver => @profile.id), :class => 'btn btn-primary' %>
