<%= render 'layouts/mailer_header' %>

    <div class='well'>
       <div>
            <div class='box user_box'>
              <table>
                   <tr>
                        <td><%= image_tag @notification.sender.profile.avatar, :class => 'img-circle avatar'%></td>
                        <td>&nbsp;&nbsp;<%= @notification.sender.profile.name %></td>
                  </tr>
               </table>
            </div>

            <table class='box'>
                <tr class='header'>
                    <td><%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %></td>
                </tr>
                <tr class='message'>
                    <td class='box'><%= raw @notification.body %></td>
                </tr>
                <tr>
                  <td class='pull-right'><%= link_to 'Reply',
                                  conversation_path(@notification.conversation.id),
                                  :class => 'btn btn-primary btn-small' %></td>
                </tr>
            </table>
            <small>Visit your <%= link_to 'inbox',conversations_path %> and go to your notifications for more info.</small>
       </div>
    </div>

<%= render 'layouts/mailer_footer' %>