<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="userform_error" class='userformerror'>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, nil, :class => 'userformlabel' %>
    <%= f.text_field :username , :class => 'userformfield' %>
  </div>
<% if edit != true %>
  <div class="field">
    <%= label "user", "password", :class => 'userformlabel' %>
    <%= password_field "user", "password", :size => 30, :value=>"", :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= label "user", "password_confirmatiom", :class => 'userformlabel' %>
    <%= password_field "user", "password_confirmation", :size => 30, :value=>"", :class => 'userformfield' %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :firstname, nil,  :class => 'userformlabel' %>
    <%= f.text_field :firstname , :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= f.label :lastname, nil,  :class => 'userformlabel' %>
    <%= f.text_field :lastname , :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= f.label :email, nil,  :class => 'userformlabel' %>
    <%= f.text_field :email , :class => 'userformfield' %>
  </div>
<% if edit == true %>
  <div class="field">
    <%= f.label :address1, nil, :class => 'userformlabel' %>
    <%= f.text_field :address1, :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= f.label :address2, nil, :class => 'userformlabel' %>
    <%= f.text_field :address2, :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= f.label :city, nil, :class => 'userformlabel' %>
    <%= f.text_field :city, :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= f.label :state, nil, :class => 'userformlabel' %>
    <%= f.text_field :state, :class => 'userformfield' %>
  </div>
  <div class="field">
    <%= f.label :zipcode, nil, :class => 'userformlabel' %>  
    <%= f.text_field :zipcode, :class => 'userformfield' %>
  </div>
<% end %>

  <div class="useraction">
    <%= f.submit "Save Profile", :class => 'userbutton' %>
  </div>
<% end %>
